<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/header') %> 
    <title>All Products</title>
</head>

<body class="d-flex flex-column vh-100">

    <%- include('../partials/navbar') %> 

    <main class="container mt-5">
    <h1><%= category%> Products!</h1>
    <ul>
        <% for(let product of products) { %>
        <li><a href="/products/<%=product._id%>"><%= product.name %></a> </li>
        <% }%>
    </ul>
    <a href="/products/new">New Product</a>
    <%if(category !== 'All') {%>
    <a href="/products">All Products</a>
    <% } %>
</main>

<%- include('../partials/footer') %> 

</body>

</html>